{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "rules": {
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "object-curly-newline": [
      "error", {
        "ExportDeclaration": { "multiline": true, "minProperties": 5 }
      }
    ],
    "react/forbid-prop-types": [
      1,
      {
        "forbid": ["any"],
        "checkContextTypes": false,
        "checkChildContextTypes": false
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "env": {
    "browser": true,
    "node": true
  }
}